@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

/* GENERAL CSS /////////////////////////////////*/

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Salsa', cursive;
}

img {
    margin: -11px 10px;

    border-style: outset;
    border-radius: 10px;
    border-color: #000000;
}

header {

}

button {
    color: white;
    background-color: rgba(194, 178, 128, 0.65);

    transition: 0.3s;

    border: 0;
    border-radius: 16px;

    font-size: 2vw;

    text-shadow: 2px 2px 4px #9C8B59;

    text-align: center;
    text-decoration: none;

    display: inline-block;

    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 228, 196, 0.65);
    color: #B83330;

    text-shadow: 2px 2px 4px #BCBCBC;
}

h1 {
    font-size: 2.5rem;
}

/* NAV BAR /////////////////////////////////*/

nav {
    background-color: #B83330;

    font-size: 1.2vw;

    transition: 1s;

    display: flex;
    justify-content: center;

    margin: -8px;
    padding: 1.25vw;
}

.nav_buttons {
    color: #B83330;
    background-color: #FFE4C4;

    text-decoration: none;

    transition: 0.3s;

    border-radius: 2vw;
    padding: .7vw 6vw;
    margin: 0 4vw;
}

.nav_buttons:hover {
    color: #B83330;
    background-color: #C2B280;

    border-radius: 2vw;
    padding: .7vw 6vw;
    margin: 0 4vw;
}

.nav_logo {
    border: none;

    transition: 0.3s;

    width: 50px;
    height: 50px;

    object-fit: contain;
    border-radius: 2vw;
}

.nav_logo:hover {
    transform: scale(1.15);
}

/* BODY CONTENT /////////////////////////////////*/

body {
    background-color: #FFE4C4;
}

/* HOMEPAGE CONTENT /////////////////////////////////*/

.homepage {
    background-image: url(../images/home_background.png);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}

.text_bubble {
    text-align: center;

    display: flex;
    flex-direction: column;

    justify-content: center;

    padding: 9.5vw 35vw;
    margin: auto;
}

.head_section_title {
    color: #C2B280;

    text-shadow: 2px 2px 4px #C2B280;

    font-size: 4vw;
}

.head_section_text {
    color: #B83330;

    font-size: 1.2vw;
}

.header_button {
    display: flex;
    justify-content: right;

    gap: 20px;

    padding: 0.35vw 6vw;
}

/* SERVICES CONTENT /////////////////////////////////*/

.services {
    color: #FFFFFF;

    display: flex;

    flex-direction: column;
    align-items: center;

    padding: 4.75vw;
}

.our_services {
    display: flex;

    align-content: center;

    gap: 50px;
    margin: 0 10vw;
    padding-bottom: 1vw;
}

article {
    color: #C2B280;
    background-color: #B83330;

    display: flex;

    font-size: 1.2vw;
    text-align: center;

    flex-direction: column;
    flex: 1;

    justify-content: space-between;

    transition: 0.3s;

    border-radius: 1vw;

    box-shadow: .1px .1px 5px #000000;

    max-width: 100vw;
    max-height: 100vw;

    padding: 1vw 1.25vw;
    margin: 0;
}

article:hover {
    box-shadow: .5px .5px 5px #000000;

    transform: scale(1.05);
}

.middle_card {
    color: #B83330;
    background-color: #C2B280;
}

.prod_img{
    display: flex;

    width: 20vw;
    height: 18vw;

    border: 0;

    object-fit: cover;

    margin: auto;
}

/* OVER ONS CONTENT /////////////////////////////////*/

.about_us_bubble {
    display: flex;
    flex-direction: row;

    gap: 5vw;
    justify-content: center;

    margin: 0;
    padding: 4vw;
}

.about_us_text {
    font-size: 24px;
    text-align: left;

    transition: 0.3s;

    padding: 0 2.5vw;
}

.title_text {
    color: #B83330;

    opacity: 0.75;

    font-size: 3vw;
}

.intro_text {
    background-color: rgba(184, 51, 48, 0.1);

    border-radius: 1vw;

    padding: 2vw;
    margin: 0;
}

.mission_text {
    display: flex;
    flex-direction: column;

    padding: 0 4.5vw;
    margin: 0;
}

.mission_title {
    color: #B83330;

    opacity: 0.75;
}

.mission_info {
    background-color: rgba(184, 51, 48, 0.1);

    border-radius: 10vw;

    text-align: center;
}

.vision_text {
    display: flex;
    flex-direction: column;

    padding: 0 4.5vw;
    margin: 0;
}

.vision_title {
    color: #B83330;

    opacity: 0.75;
}

.vision_info {
    background-color: rgba(184, 51, 48, 0.1);

    border-radius: 10vw;

    text-align: center;
}

.about_us_mini_bubbles {
    display: flex;
    flex-direction: row;
}

.about_us_picture {
    display: flex;
    flex-direction: row;

    width: 36vw;
    height: 36vw;

    border: 0;
}