@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');

/* GENERAL CSS /////////////////////////////////*/

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Salsa', cursive;
    /*text-shadow: 2px 2px 4px #000000*/
}

img {
    margin: -11px 10px;

    border-style: outset;
    border-radius: 10px;
    border-color: #000000;
}

button {
    color: white;
    background-color: #C2B280;

    transition: 0.3s;

    border-radius: 12px;

    font-size: 2vw;

    text-shadow: 2px 2px 4px #9C8B59;

    text-align: center;
    text-decoration: none;

    display: inline-block;

    padding: 19px 60px;

    cursor: pointer;
}

button:hover {
    background-color: #FFFFFF;
    color: #000000;

    text-shadow: 2px 2px 4px #BCBCBC;

    border-radius: 6px;

    transform: scale(1.05);
}

h1 {
    font-size: 2.5rem;
}

a {
    color: #B83330;
    background-color: #FFE4C4;

    text-decoration: none;

    transition: 0.3s;

    border-radius: 2vw;
    padding: .7vw 6vw;
    margin: 0 4vw;
}

a:hover {
    color: #B83330;
    background-color: #C2B280;

    border-radius: 2vw;
    padding: .7vw 6vw;
    margin: 0 4vw;
}

/* NAV BAR /////////////////////////////////*/

nav {
    background-color: #B83330;

    font-size: 1.1vw;

    transition: 1s;

    display: flex;
    justify-content: center;

    margin: -8px;
    padding: 1vw;
}

.links_nav {

}

.nav_logo {
    border: none;

    width: 50px;
    height: 50px;

    object-fit: contain;
    border-radius: 2vw;
}

/* BODY CONTENT /////////////////////////////////*/

body {
    background-color: #FFE4C4;
}

.homepage {
    background-image: url(../images/home_background.png);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}

.text_bubble {
    background-color: #f5450b;

    font-size: 24px;
    text-align: center;

    transition: 0.3s;

    border: 2px solid #000000;
    border-radius: 3vw;
    box-shadow: 1px 1px 15px #000000;

    padding: 2.5vw 2.5vw;
    margin: auto;
}

.head_section_title {
    color: #C2B280;

    font-size: 3vw;
}

.head_section_text {
    color: #B83330;

    font-size: 1vw;
}

header {
    color: #FFFFFF;

    display: flex;
    flex-direction: column;

    justify-content: center;

    font-size: 24px;
    text-align: center;

    margin: 12.5vw 15vw;
}

.header_button {
    display: flex;
    justify-content: center;

    gap: 20px;
}